[submodule "dubbler/lib/forge-std"]
	path = dubbler/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "dubbler/lib/subnet-vrf"]
	path = dubbler/lib/subnet-vrf
	url = https://github.com/ava-labs/subnet-vrf
